/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Conatiner */
.form-container {
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: lightcyan;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form */

.contact-form h1 {
  margin-bottom: 2rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form .submit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.contact-form .submit-btn:hover {
  background-color: #ff8533;
  scale: 1.1;
}
